.contact {
    background-color: #121418;
    height: 100vh;
    flex-direction: column;
}

.contact h2 {
    padding: 26px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.082);
}

.contact ul {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.contact ul input { 
    background-color: #2023298e;
    padding: 0.7rem 2rem;
}

.contact ul li {
    background-color: #2023298e;
    padding: 1.2rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    transition: 0.7s;
}

.contact ul li:hover {
    background-color: rgba(74, 79, 87, 0.557);
    transition: 0.7s;
    border-radius: 6px;
}

.contact_super {
    display: flex;
    flex-direction: row;
    padding: 1.35rem 2.5rem;
    background-color: #121418;
    border-left: 1px solid rgba(255, 255, 255, 0.082);
}

.contact_super span:first-child {
    display: none;
    color: white;
    padding: 0.5rem;
    font-size: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.contact_super span:last-child {
    color: white;
    padding: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    margin-top: 0.2rem;
    left: 95vw;
    align-items: flex-end;
}

.contact_super h2 {
    font-size: 23px;
    color: white;
}

.contact_super p {
    background-color: rgb(39, 185, 39);
    border-radius: 6px;
    margin-top: 0.4rem;
    padding: 0 5px;
    width: 10rem;
    color: white;
    cursor: pointer;
}

.input_chat {
    display: flex;
    background-color: #121418;
    border-left: 1px solid rgba(255, 255, 255, 0.082);
}

.input_chat input {
    background-color: #202329;
    padding: 0.6rem;
    padding-left: 1rem;
    color: white;
}

.input_chat button {
    background-color: #2b3cfd;
}

.messages {
    background-color: #202329;
    cursor: pointer;
}

.text-xxs {
    font-size: 0.6rem; 
}
  
.message_chat div {
  min-width: 10rem !important;
  text-align: left;
  padding: 0.5rem 1rem;
  background-color: #383941;
  word-break: break-word; 
}

.bg_dark {
    background-color: #121418;
};


@media (max-width: 687px) {
    .contact {
        display: none;
        width: 15rem;
        height: 100vh;
        flex-direction: column;
        position: absolute;
    }  

    .contact_super {
        align-items: center;
        padding: 1.35rem 1.5rem;
    }

    .contact_super span:first-child {
        display: block;
    }

    .contact_super span:last-child {
        display: none;
    }
}


@media (min-width: 1024px) and (max-width: 1100px) {
    .contact {
        width: 15rem;
    }

    .contact_super span:last-child {
        left: 92vw;
        font-size: 1.7rem;
        margin-top: 0.4rem;
    }
}

@media (min-width: 688px) and (max-width: 1023px) {
    .contact {
        width: 14rem;
    }

    .contact_super span:last-child {
        left: 91vw;
        font-size: 1.7rem;
        margin-top: 0.4rem;
    }
}
